
.root{
	-fx-background-color: linear-gradient(white 10%, e6e2e2 70%, white 100%);
	

}

.dark-blue{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

#brown {
	-fx-background-color: #A52A2A;
}

.backColor{
	 -fx-background-color: 
        #A52A2A;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,0,0,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
.backColor:hover{
	-fx-background-color:#ae3f3f;
}
.backColor:focused{
	-fx-background-color:#942525;
}
.biggerBackColor{
	 -fx-background-color: 
        #A52A2A;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,5,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 26px;
    -fx-padding: 10 20 10 20;
}
.biggerBackColor:hover{
	-fx-background-color:#ae3f3f;
}
.biggerBackColor:focused{
	-fx-background-color: #942525;
}
#white{
	
	-fx-background-color: white;
}
.menuBar{
	-fx-background-color:#A52A2A;
}

.menuOptions .label{
	-fx-text-fill: #A52A2A;
}